params {
  resource_dir = "/hpc/ubec/resources/genomes"
  grch38_resource_dir = "/hpc/ubec/resources/tools/rnaseq-nf/genome_files/GRCh38"
  genomes {
    "GRCh37" {
      fasta = "${params.resource_dir}/GRCh37/Sequence/genome.fa"
      gatk_known_sites = [
        "${params.resource_dir}/GRCh37/Annotation/1000G_phase1.indels.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz"
      dbnsfp = "${params.resource_dir}/GRCh37/Annotation/dbNSFP2.9.3.txt.gz"
      cosmic = "${params.resource_dir}/GRCh37/Annotation/CosmicCodingMuts_v80.vcf.gz"
      gonl = "${params.resource_dir}/GRCh37/Annotation/gonl.snps_indels.r5.vcf.gz"
      interval_list = "${params.resource_dir}/GRCh37/Sequence/genome.interval_list"
      freec_chr_len = "${params.resource_dir}/GRCh37/Sequence/genome.len"
      freec_chr_files = "${params.resource_dir}/GRCh37/Sequence/chr_files"
      freec_mappability = "${params.resource_dir}/GRCh37/Annotation/out100m2_hg19.gem"
    }
    "GRCh37_generic" {
      fasta = "${params.resource_dir}/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa"
      gatk_known_sites = [
        "${params.resource_dir}/annotation/GRCh37/1000G_phase1.indels.b37.vcf.gz",
        "${params.resource_dir}/annotation/GRCh37/dbsnp_138.b37.vcf.gz",
        "${params.resource_dir}/annotation/GRCh37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/annotation/GRCh37/dbsnp_138.b37.vcf.gz"
      dbnsfp = "${params.resource_dir}/annotation/GRCh37/dbNSFP2.9.3.txt.gz"
      cosmic = "${params.resource_dir}/annotation/GRCh37/CosmicCodingMuts_v80.vcf.gz"
      gonl = "${params.resource_dir}/annotation/GRCh37/gonl.snps_indels.r5.vcf.gz"
      interval_list = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.interval_list"
      freec_chr_len = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.len"
      freec_chr_files = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/chr_files"
      freec_mappability = "${params.resource_dir}/annotation/GRCh37/out100m2_hg19.gem"
    }
    "GRCh38" {
      fasta = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
      gatk_known_sites = [
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      cosmic = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/CosmicCodingMuts_v95.vcf.gz"      
      interval_list = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list"
      freec_chr_len = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.len"
      freec_chr_files = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/chr_files"
      freec_mappability = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/Control-FREEC/GRCh38_100.mappability"
    }
    "GRCh38_old" {
      fasta = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
      gatk_known_sites = [
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz",
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz",
        "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      cosmic = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/CosmicCodingMuts_v95.vcf.gz"      
      interval_list = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list"
      freec_chr_len = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/GCA_000001405.15_GRCh38_no_alt_analysis_set.len"
      freec_chr_files = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Sequence/Chromosomes"
      freec_mappability = "${params.resource_dir}/GRCh38_GCA_000001405.15_no_alt/Annotation/Control-FREEC/GRCh38_100.mappability"
    }
    "GRCm38.102" {
      fasta = "${params.resource_dir}/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.dna.primary_assembly.fa"
      interval_list = "${params.resource_dir}/Mus_musculus.GRCm38.102/Mus_musculus.GRCm38.102.dna.primary_assembly.interval_list"
    }
    "UMD3.1" {
      fasta = "${params.resource_dir}/UMD3.1/Sequence/Bos_taurus.UMD3.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/UMD3.1/Sequence/Bos_taurus.UMD3.1.dna.toplevel.interval_list"
    }
    "Celegans_WBcel235" {
      fasta = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/Caenorhabditis_elegans.WBcel235.interval_list"
      freec_chr_len = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/Caenorhabditis_elegans.WBcel235.dna.toplevel.len"
      freec_chr_files = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/chr_files_roman"
      freec_mappability = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/Caenorhabditis_elegans.WBcel235_100.mappability"
    }
    "CanFam_31" {
      fasta = "${params.resource_dir}/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.interval_list"
      gatk_known_sites = [
        "${params.resource_dir}/CanFam3.1.103/Annotation/variation/canis_lupus_familiaris.vcf.gz"
      ]
    }
    "Sscrofa11.1" {
      fasta = "${params.resource_dir}/Pig_Sus_Scrofa_11.1/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/Pig_Sus_Scrofa_11.1/Sus_scrofa.Sscrofa11.1.dna.toplevel.interval_list"
    }
    "Fruitfly.BDGP6" {
      fasta = "${params.resource_dir}/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.toplevel.fa"
      interval_list = "${params.resource_dir}/Drosophila_melanogaster.BDGP6.32/Drosophila_melanogaster.BDGP6.32.dna_sm.toplevel.interval_list"
    }
    "PanLeo_10" {
      fasta = "${params.resource_dir}/Pan_Leo_1.0/Panthera_leo.PanLeo1.0.dna_sm.primary_assembly.fa"
      interval_list = "${params.resource_dir}/Pan_Leo_1.0/Panthera_leo.PanLeo1.0.dna_sm.primary_assembly.interval_list"
    }
    "PanLeo_ncbi" {
      fasta = "${params.resource_dir}/P.leo_Ple1_pat1.1/GCF_018350215.1_P.leo_Ple1_pat1.1_genomic.fna"
      interval_list = "${params.resource_dir}/P.leo_Ple1_pat1.1/GCF_018350215.1_P.leo_Ple1_pat1.1_genomic.interval_list"
    }
    "LSativa_v8" {
      fasta = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/Lactuca_sativa_lettuce.fa"
      interval_list = "/hpc/uu_lk/GENOMES/LGR_CoGe/Lactuca_sativa_cv_Salinas_V8/sequence/Lactuca_sativa_lettuce.interval_list"
    }
  }
}
