params {
  resource_dir = "/home/cog/sboymans/scripts/NF-IAP_dev/resources"
  genomes {
    "GRCh37" {
      fasta = "${params.resource_dir}/GRCh37/Sequence/genome.fa"
      gatk_known_sites = [
        "${params.resource_dir}/GRCh37/Annotation/1000G_phase1.indels.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz"
      dbnsfp = "${params.resource_dir}/GRCh37/Annotation/dbNSFP2.9.3.txt.gz"
      cosmic = "${params.resource_dir}/GRCh37/Annotation/CosmicCodingMuts_v76.vcf.gz"
      gonl = "${params.resource_dir}/GRCh37/Annotation/gonl.snps_indels.r5.vcf.gz"
      interval_list = "${params.resource_dir}/GRCh37/Sequence/genome.interval_list"
      freec_chr_len = "${params.resource_dir}/GRCh37/Sequence/genome.len"
      freec_chr_files = "${params.resource_dir}/GRCh37/Sequence/chr_files"
      freec_mappability = "${params.resource_dir}/GRCh37/Annotation/out100m2_hg19.gem"
    }
  }
}
