params {
  resource_dir = "/hpc/ubec/resources/genomes"
  genomes {
    "GRCh37" {
      fasta = "${params.resource_dir}/GRCh37/Sequence/genome.fa"
      gatk_known_sites = [
        "${params.resource_dir}/GRCh37/Annotation/1000G_phase1.indels.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz",
        "${params.resource_dir}/GRCh37/Annotation/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GRCh37/Annotation/dbsnp_138.b37.vcf.gz"
      dbnsfp = "${params.resource_dir}/GRCh37/Annotation/dbNSFP2.9.3.txt.gz"
      cosmic = "${params.resource_dir}/GRCh37/Annotation/CosmicCodingMuts_v80.vcf.gz"
      gonl = "${params.resource_dir}/GRCh37/Annotation/gonl.snps_indels.r5.vcf.gz"
      interval_list = "${params.resource_dir}/GRCh37/Sequence/genome.interval_list"
      freec_chr_len = "${params.resource_dir}/GRCh37/Sequence/genome.len"
      freec_chr_files = "${params.resource_dir}/GRCh37/Sequence/chr_files"
      freec_mappability = "${params.resource_dir}/GRCh37/Annotation/out100m2_hg19.gem"
    }
    "GRCh37_generic" {
      fasta = "${params.resource_dir}/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fa"
      gatk_known_sites = [
        "${params.resource_dir}/annotation/GRCh37/1000G_phase1.indels.b37.vcf.gz",
        "${params.resource_dir}/annotation/GRCh37/dbsnp_138.b37.vcf.gz",
        "${params.resource_dir}/annotation/GRCh37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/annotation/GRCh37/dbsnp_138.b37.vcf.gz"
      dbnsfp = "${params.resource_dir}/annotation/GRCh37/dbNSFP2.9.3.txt.gz"
      cosmic = "${params.resource_dir}/annotation/GRCh37/CosmicCodingMuts_v80.vcf.gz"
      gonl = "${params.resource_dir}/annotation/GRCh37/gonl.snps_indels.r5.vcf.gz"
      interval_list = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.interval_list"
      freec_chr_len = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.len"
      freec_chr_files = "${params.resource_dir}/genomes/Homo_sapiens.GRCh37.GATK.illumina/chr_files"
      freec_mappability = "${params.resource_dir}/annotation/GRCh37/out100m2_hg19.gem"
    }
    "UMD3.1" {
      fasta = "${params.resource_dir}/UMD3.1/Sequence/Bos_taurus.UMD3.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/UMD3.1/Sequence/Bos_taurus.UMD3.1.dna.toplevel.interval_list"
    }
    "Celegans_WBcel235" {
      fasta = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/Caenorhabditis_elegans.WBcel235//Caenorhabditis_elegans.WBcel235.interval_list"
    }
    "CanFam_31" {
      fasta = "${params.resource_dir}/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/CanFam3.1.103/Canis_lupus_familiaris.CanFam3.1.dna.toplevel.interval_list"
      gatk_known_sites = [
        "${params.resource_dir}/CanFam3.1.103/Annotation/variation/canis_lupus_familiaris.vcf.gz"
      ]
    }
    "Sscrofa11.1" {
      fasta = "${params.resource_dir}/Pig_Sus_Scrofa_11.1/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa"
      interval_list = "${params.resource_dir}/Pig_Sus_Scrofa_11.1/Sus_scrofa.Sscrofa11.1.dna.toplevel.interval_list"
    }
    "PanLeo_10" {
      fasta = "${params.resource_dir}/Pan_Leo_1.0/Panthera_leo.PanLeo1.0.dna_sm.primary_assembly.fa"
      interval_list = "${params.resource_dir}/Pan_Leo_1.0/Panthera_leo.PanLeo1.0.dna_sm.primary_assembly.interval_list"
    }
  }
}
