/* Always include process and resources config */
includeConfig 'nextflow.config'
includeConfig 'process.config'
includeConfig 'resources.config'

params {
  fastq_path = ''
  bam_path = ''
  vcf_path = ''
  gvcf_path = ''
  out_dir = ''
  genome = 'GRCh37'

  premapQC = true
  postmapQC = true
  germlineCalling = true
  variantFiltration = true
  variantAnnotation = true
  svCalling = true

}
