includeConfig './configs/nextflow.config'
includeConfig './configs/process.config'
includeConfig './configs/resources.config'

params {
  fastq_path = ''
  bam_path = ''
  vcf_path = ''
  gvcf_path = ''
  out_dir = ''
  genome = 'genome_template'

  premapQC = true
  postmapQC = true
  germlineCalling = false
  variantFiltration = false
  variantAnnotation = false
  svCalling = false
  cnvCalling = false
}
