/* Always include process and resources config */
includeConfig '/home/cog/sboymans/scripts/NF-IAP/configs/nextflow.config'
includeConfig '/home/cog/sboymans/scripts/NF-IAP/configs/process.config'
includeConfig '/home/cog/sboymans/scripts/NF-IAP/configs/resources.config'

params {
  help = false
  fastq_path = ''
  bam_path = ''
  gvcf_path = ''
  vcf_path = ''
  genome = 'GRCh37'

  premapQC = true
  postmapQC = true
  germlineCalling = true
  variantFiltration = true
  variantAnnotation = true
  svCalling = false
  cnvCalling = false
  //splitVCF = true
}
