/* Always include process and resources config */
includeConfig '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/NF-IAP/configs/nextflow.config'
includeConfig '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/NF-IAP/configs/process.config'
includeConfig '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/NF-IAP/configs/resources.config'

params {
  fastq_path = ''
  bam_path = ''
  gvcf_path = ''
  out_dir = ''

}
