/* Always include process and resources config */
includeConfig 'nextflow.config'
includeConfig 'process.config'
includeConfig 'resources.config'

params {
  fastq_path = ''
  bam_path = ''
  vcf_path = ''
  gvcf_path = ''
  out_dir = ''
  genome = 'GRCh37'

  premapQC = false
  postmapQC = true
  germlineCalling = false
  variantFiltration = false
  variantAnnotation = false
  svCalling = true
  cnvCalling = true
}
